<html>
  <body>
    <h2>Digite Url</h2>
    <form action = "link/create", method = "post">
      <input type = "text", value = "", name = "url">
      <input type = "submit" value = "Submit">  
    </form>
  </body>
</html>